.widget-github, .widget.github {
  .repository-name {
    color: {{ theme.section_color }};

    &:empty {
      display: none;
    }

    &::before {
      content: "\a0/\a0";
      color: {{ theme.widget_border_color }};
    }
  }

  .item {
    color: {{ theme.section_active_color }};
    margin-bottom: .5rem;

    &::before {
      display: block;
      font-size: .86em;
      color: {{ theme.section_color }};
    }
  }

  .repository {
    &::before {
      content: "Repository";
    }

    .avatar {
      float: left;
      margin-right: 0.16rem;
      margin-top: 2px;
    }
  }

  .repo-details {
    line-height: 1;
  }

  .last-update {
    &::before {
      content: "Last Update";
    }
  }

  .num-issues {
    &::before {
      content: "Issues";
    }
  }

  .star-gazers {
    &::before {
      content: "Stars";
    }
  }

  .watchers {
    &::before {
      content: "Watchers";
    }
  }

  .forks {
    &::before {
      content: "Forks";
    }
  }

  .description {
    &::before {
      content: "Description";
    }
  }

  .latest-release {
    &::before {
      content: "Latest Release";
    }

    .release-name {
      color: {{ theme.success_color }};
    }

    .by {
      color: {{ theme.widget_color }};
    }

  }

  .license {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;

    &::before {
      content: "License";
    }
  }

  .visibility, .language {
    font-size: .75rem;
  }

  .visibility {
    &.private {
      content: "Private";
      color: {{ theme.failure_color }};
    }

    &.public {
      content: "Public";
      color: {{ theme.success_color }};
    }
  }

  .language {
    color: {{ theme.success_color }};

    &::before {
      content: "\a0/\a0";
      color: {{ theme.widget_border_color }};
    }
  }

  img.avatar {
    max-width: 33px;
    border: 1px solid {{ theme.widget_border_color }};
    border-radius: 4px;
    /*margin-top: 0;*/
  }

  .content.loader:empty {
    margin: 0 auto;
  }
}

#page {
  .widget-github, .widget.github {
    a.html-link {
      margin-top: 4px;

      &:link, &:visited {
        color: {{ theme.section_active_color }};
      }
    }
  }
}


@media screen and (min-resolution: 2dppx) {
  .widget-github, .widget.github {
    img.avatar {
      max-width: 37px;
    }
  }
}
