.widget-openmeteo {
  & > .widget-box {
    padding-bottom: .4rem;
  }

  .current, .precipitation {
    width: 100%;
    padding: 0 0 .5rem;
  }

  .precipitation {}

  .current-temperature, .relhum, .precipitation-current, .precipitation-upcoming {
    &::before {
      display: block;
      font-size: .75rem;
      font-weight: 200;
      white-space: nowrap;
      margin-bottom: .125rem;
      color: {{ theme.section_active_color }};
    }
  }

  .current-temperature {
    width: 100%;

    &::before {
      content: "Temperature";
    }
  }

  .relhum {
    text-align: right;

    &::before {
      content: "Relative Humidity";
    }
  }

  .precipitation-current {
    width: 100%;
    text-wrap: nowrap;

    &::before {
      content: "Precip. (Now)";
    }

    &:empty {
      display: none;
    }
  }

  .precipitation-upcoming {
    text-align: right;
    text-wrap: nowrap;

    &::before {
      content: "Precip. (Next)";
    }

    &:empty {
      display: none;
    }
  }


  .openmeteo-chart-container {
    position: relative;
    height: 280px;
    width: 100%;
  }
}
